@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">);

body {
    font-family: 'Kanit', sans-serif;
    /* font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal; */
    /* font-family: neue-kabel, sans-serif;
    font-weight: 400;
    font-style: normal; */
    /* font-family: neue-kabel, sans-serif;
    font-weight: 700;
    font-style: normal; */
    font-size: 17px;
    color: rgb(61, 61, 61);
}

.top-header {
    background-color: #2687cb;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-inline: 7px;
    display: inline-flexbox;
    white-space: nowrap;
    justify-content: end;
    
}

.top-phone {
    text-align: right;
    width: max-content;
}

.responsive {
    width: 100%;
    max-width: 42px;
    height: auto;
}

.logo-bg {
    background-image: url(assets/images/main_logo_bg.jpg);
    background-color: #2687cb;
    margin: 0;
}

.nav-custom {
    color: #2687cb;
    font-size: 1vw;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.center-text {
    text-align: justify;
    max-width: 90%;
    align-items: center;
}

.center-content {
    padding: 0px 10% 0px 10%;
}


/* .nav-link {
    color: #2687cb;
} */

.social-icons-header {
    width: max-content;
}

.header-text {
    font-size: 15px;
}

.title-bar {
    background-color: #2687cb;
    padding-inline: 10%;
    margin: auto;
}

.title-bar-text {
    color: #fcde34;
    font-size: 40px;
    font-weight: ;
}

.blue-bg {
    background-color: #2687cb;
}

.mission-image {
    background-image: url(assets/images/mission-image.jpg);
}

.services-image {
    background-image: url(assets/images/services-image.jpg);

}

.clean-image {
    background-image: url(assets/images/clean_panels-image.jpg);
}

.bullet-text {
    color: #fcde34;
    align-items: center;
    font-size: 28px;
    padding: 48px 10% 48px 10%;
    line-height: 2.2em;
}

.bullet-text-left {
    color: #fcde34;
    align-items: center;
    font-size: 28px;
    /* padding: 48px 10% 48px 10%; */
    line-height: 2.2em;
}

.footer-custom{
    padding: 20px;

}

.contact-form-h4 {
    color: #fcde34;
}

.footer-p {
    color: white;
    display: inline-block;
    font-size: small;
}

.nav-toggler-link {
    font-style: none;
}

.footer-link {
    color: white;
    font-style: none;
}

.btn-submit {
    background-color: #fcde34;
}

.title-blue {
    color: #2687cb;
    font-size: 34px;
}

.title-grey {
    color: rgb(60, 60, 60);
}

a:visited, a:active {
   color: white; 
}

/* Media Queries */

/* Extra large - 993px and above */
@media (min-width:993px) {

    .header-text {
        font-size: 15px;

    }

    .left-content {
    text-align: left;
    padding-left: 10%;
    }
    .left-content-right {
        text-align: left;
        padding-inline: 5%;
    }
    .image1 {
        display: none !important; 
    }
    .image2 {
        display: block !important; 
    }

    .review-image {
        max-width: 500px;
    }

    .before-image {
        float: right;
        margin-right: 10px;
    }

    .after-image {
        float: left;
        margin-left: 10px;
    }

    .yelp-space {
        margin: auto;
        align-items: center;
    }
}
/* Large - Less than 992px */
@media  (max-width: 992px) {
    .top-header {
        background-color: #2687cb;
        padding-top: 1em;
        padding-bottom: 1em;
        display: inline-flexbox;
        white-space: nowrap;
        justify-content: center;
        
    }

    .header-text {
        font-size: 15px;
    }

    .left-content {
        text-align: left;
        padding-left: 10%;
    }
    .nav-custom {
        color: #2687cb;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        float: right;
    }
    .left-content-right {
        text-align: left;
        padding-inline: 10%;
    }
    .image1 {
        display: none !important; 
    }
    .image2 {
        display: block !important; 
    }

    .before-image {
        padding-bottom: 20px;
        max-width: 80%;
        margin: 0;
        float: none;
        
    }

    .after-image {
        max-width: 80%;
        margin: 0;
        float: none; 
    }
}

/* Medium - Less than 768px */
@media (max-width: 768px) {
    .top-header {
        background-color: #2687cb;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1em;
        margin-left: auto;
        display: inline-flexbox;
        white-space: nowrap;
        justify-content: center;
        
    }

    .header-text {
        font-size: 15px;
    }
    .logo-bg {
        background-image: url(assets/images/main_logo_bg.png);
        background-color: #2687cb;
        margin: 0;
    }
    .image1 {
        display: block!important; 
    }
    .image2 {
        display: none !important; 
    }
}


/* Small - Less than 576px */
@media (max-width: 576px) {
    .top-header {
        background-color: #2687cb;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: auto;
        display: inline-flexbox;
        white-space: nowrap;
        justify-content: center;
        
    }

    /* .body {
        margin: 0;
        padding: 0;
    } */

    .header-text {
        font-size: 15px;
    }

    .bullet-text {
        padding: 0px;
    }
    
    /* .mobile-left {
        padding: 0px;
        flex-direction: none;
    } */

@media (max-width: 200px) {

}
}

