@import url(https://<link rel="stylesheet" href="https://use.typekit.net/cpw1wzi.css">);

body {
    font-family: neue-kabel, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: neue-kabel, sans-serif;
    font-weight: 700;
    font-style: normal; */
    font-size: 14px;
    color: rgb(61, 61, 61);
}

.top-header {
    background-color: #2687cb;
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-flexbox;
    white-space: nowrap;
    justify-content: end;
    
}

.top-phone {
    text-align: right;
    width: max-content;
}

.responsive {
    width: 100%;
    max-width: 42px;
    height: auto;
}

.logo-bg {
    background-image: url(assets/images/main_logo_bg.png);
    background-color: #2687cb;
    margin: 0;
}

.nav-custom {
    color: #2687cb;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}


/* .nav-link {
    color: #2687cb;
} */

.social-icons-header {
    width: max-content;
}

.header-text {
    font-size: 15px;
}

.title-bar {
    background-color: #2687cb;
    padding: 15px;
    margin: auto;
}

.title-bar-text {
    color: #fcde34;
    font-size: 30px;
}

.blue-bg {
    background-color: #2687cb;
}

.bullet-text {
    color: #fcde34;
}

.title-blue {
    color: #2687cb;
}

/* Media Queries */

@media (min-width:1200px) {

    .header-text {
        font-size: 15px;

}

@media  (max-width: 992px) {
    .top-header {
        background-color: #2687cb;
        padding-top: 1em;
        padding-bottom: 1em;
        display: inline-flexbox;
        white-space: nowrap;
        justify-content: center;
        
    }

    .header-text {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .top-header {
        background-color: #2687cb;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        margin-left: auto;
        display: inline-flexbox;
        white-space: nowrap;
        justify-content: center;
        
    }

    .header-text {
        font-size: 15px;
}

@media (max-width: 576px) {
    .top-header {
        background-color: #2687cb;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: auto;
        display: inline-flexbox;
        white-space: nowrap;
        justify-content: center;
        
    }

    .header-text {
        font-size: 15px;
}

@media (max-width: 200px) {

}


